ion-toolbar{
    background-color: var(--ion-color-mycolor);
}

@font-face {
    font-family: 'Bebas Neue';
    src: url('/assets/fonts/Bebas-Neue.woff2') format('woff2');
  }
  *{
    font-family: 'Bebas Neue', cursive;
  }