<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button 
          defaultHref="/"
          text="Atras"
          color="primary"
          mode="ios"></ion-back-button>
    </ion-buttons>
    <ion-title>Contenido</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>

  <ion-card>
    <ion-card-header>
      <ion-card-subtitle>Categoria: Juegos Online</ion-card-subtitle>
      <ion-card-title>Counter Strike Global Offensive</ion-card-title>
    </ion-card-header>
  
    <ion-card-content>
      Es un videojuego de disparos en primera persona desarrollado por Valve Corporation en cooperación con Hidden Path Entertainment, de modalidad online 5 vs 5.
      <br><br>
      <ion-img src="/assets/cs-strike.png"></ion-img>
      <a href="https://store.steampowered.com/app/730/CounterStrike_Global_Offensive/?l=spanish" target="_blank">Enlace a Steam</a>
    </ion-card-content>
  </ion-card>
 
  <ion-card>
    <ion-card-header>
      <ion-card-subtitle>Categoria: Juegos Online</ion-card-subtitle>
      <ion-card-title>BlazBlue: Central Fiction</ion-card-title>
    </ion-card-header>
  
    <ion-card-content>
      Juego de peleas 2D dessarollador por ArcSystemWorks. La última parte de la saga Blazblue, dándole fin a la saga del Azure.
      <br><br>
      <ion-img src="/assets/blazblue.jpg"></ion-img>
      <a href="https://store.steampowered.com/app/586140/BlazBlue_Centralfiction/" target="_blank">Enlace a Steam</a>
    </ion-card-content>
  </ion-card>


</ion-content>
